doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - JDevv
    script(type='text/javascript', src='https://www.google.com/jsapi')
    != css('main')    
  body.skin-blue.sidebar-mini.fixed
    #app_wrapper
    != js('application')

